/*CSS padrao pra site*/

.menu{
    background-color:lightblue;
	}
	
.barra{
width:100%;
height:105px;
background:#ffc823;
position:absolute;
bottom:55%;
}

.item_barra{

width:32%;
height:90%;
float:left;
margin:0.5%;
overflow:auto;
}
.capa_filme{
height:100%;
float:left;
margin-right:1em;
}